/* global style  */
*,
a {
  list-style: none;
  text-decoration: none;
  /* overflow: hidden; */
}
/* end global style  */
/**side navbar*/
section.home {
  display: flex;
  position: fixed;
  left: 0;
  z-index: 999;
}
section .nav-items {
  flex-direction: column;
}
section .nav-items a {
  cursor: pointer;
}
section .nav-items .social-icons {
  cursor: pointer;
}
.close-sec {
  width: 15%;
  flex-direction: column;
}
.close-sec .close-open-icon i {
  cursor: pointer;
}
.close-sec .social-icon {
  flex-direction: column;
  cursor: pointer;
}

.home ul li {
  position: relative;
  z-index: 999;
}
/* end side navbar  */
/**meals home*/
.meal .text-layer {
  transition: top 1s;
}

.meal:hover .text-layer {
  top: 0 !important;
}
/**end meals home*/
/**serach section*/
.search-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}

.meal {
  cursor: pointer;
}
/**end search section*/
/**category section */
.category-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end category section*/
/**filter category section */
.filterCategory-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end filter category section*/
/*area section **/
.area-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end area section*/
/**filter area section */
.filterArea-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end filter area section*/
/**description section*/
.details-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end description section*/
/**Ingredients section*/
.Ingredients-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end Ingredients section*/
/**filter Ingredients section*/
.filterIngredients-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end filter Ingredients section*/
/**contact us section*/
.contactUs-sec {
  z-index: 998;
  display: none;
  overflow-y: scroll;
}
/**end contact us section*/

/**loader section*/
.loader {
  display: flex;
  z-index: 1000;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**end loader section*/
